<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head.ejs')%>
  <link rel="stylesheet" type="text/css" href="/style2.css">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <!-- Your custom JavaScript code -->
  </script>

  <header>
    <nav>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./admin">Admin</a></li>

      </ul>
    </nav>
  </header>
  <!-- details.ejs -->
  <div style="height:20px;"></div>
  <div class="t_container" id="resultContainer">
    <div class="style">
      <div class="school_details">
        <h1>
          <%= blog.schoolName.toUpperCase()%>
        </h1>
        <p>
          <%= blog.schoolAdd.toUpperCase() %>
        </p>
        <p style="color:red">SENIOR SECONDARY SCHOOL</p>
        <p>
          <spad>Tel:07068291163 </spad><span>Email: okoto.chris.oc@gmail.com</span>
        </p>
      </div>
      <div class="reportSheet">
        <div>
          <h3>STUDENT'S ACADEMIC REPORT/SHEET</h3>
        </div>
      </div>

      <br />
      <div class="top_info">
        <div>

          <p>Name: <b>
              <%= blog.userName.toUpperCase() %>
            </b> </p>
          <p>Class: <%= blog.class%>
          </p>
          <p>Term: <%= blog.term %>
          </p>
          <p>Next term begins: </p>
        </div>
        <div>

          <p>School Opened:......</p>
          <p>Time Present:...... </p>
          <p>Total days absent:..... </p>
          <p>Student in class:..... </p>

        </div>
        <div>
          <p>Score Uptainable:.....</p>
          <p>Score Uptained</p>
          <p>Averag Score:....</p>
          <p>GPA:..... </p>

        </div>
      </div>
      <div class="table_design">
        <div class="table">
          <table>
            <tr class="tr1">
              <th style="width:150px;">Subject</th>
              <th>1st Test [20%]</th>
              <th>2nd Test [20%]</th>
              <th>Exam [60%]</th>
              <th>Total [100%]</th>
              <th>Grade</th>
            </tr>
            <tr>
              <td>
                <%= blog.eng %>
              </td>
              <td>
                <%= blog.eng1st %>
              </td>
              <td>
                <%= blog.eng2nd %>
              </td>
              <td>
                <%= blog.engexam %>
              </td>
              <td>
                <%= blog.engscore %>
              </td>
              <td>
                <%= blog.engG %>
              </td>
            </tr>
            <tr>
              <td>
                <%= blog.mth %>
              </td>
              <td>
                <%= blog.mth1st %>
              </td>
              <td>
                <%= blog.mth2nd %>
              </td>
              <td>
                <%= blog.mthexam %>
              </td>
              <td>
                <%= blog.mthscore %>
              </td>
              <td>
                <%= blog.mthG %>
              </td>
            </tr>
            <t`r>
              <td>
                <%= blog.bio %>
              </td>
              <td>
                <%= blog.bio1st %>
              </td>
              <td>
                <%= blog.bio2nd %>
              </td>
              <td>
                <%= blog.bioexam %>
              </td>
              <td>
                <%= blog.mthscore %>
              </td>
              <td>
                <%= blog.bioG %>
              </td>
              </tr>
              <tr>
                <td>
                  <%= blog.eco %>
                </td>
                <td>
                  <%= blog.eco1st %>
                </td>
                <td>
                  <%= blog.eco2nd %>
                </td>
                <td>
                  <%= blog.ecoexam %>
                </td>
                <td>
                  <%= blog.ecoscore %>
                </td>
                <td>
                  <%= blog.ecoG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.lit %>
                </td>
                <td>
                  <%= blog.lit1st %>
                </td>
                <td>
                  <%= blog.lit2nd %>
                </td>
                <td>
                  <%= blog.litexam %>
                </td>
                <td>
                  <%= blog.mthscore %>
                </td>
                <td>
                  <%= blog.litG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.cst %>
                </td>
                <td>
                  <%= blog.cst1st %>
                </td>
                <td>
                  <%= blog.cst2nd %>
                </td>
                <td>
                  <%= blog.cstexam %>
                </td>
                <td>
                  <%= blog.cstscore %>
                </td>
                <td>
                  <%= blog.cstG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.che %>
                </td>
                <td>
                  <%= blog.che1st %>
                </td>
                <td>
                  <%= blog.che2nd %>
                </td>
                <td>
                  <%= blog.cheexam %>
                </td>
                <td>
                  <%= blog.chescore %>
                </td>
                <td>
                  <%= blog.cheG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.civ %>
                </td>
                <td>
                  <%= blog.civ1st %>
                </td>
                <td>
                  <%= blog.civ2nd %>
                </td>
                <td>
                  <%= blog.civexam %>
                </td>
                <td>
                  <%= blog.civscore %>
                </td>
                <td>
                  <%= blog.civG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.agr %>
                </td>
                <td>
                  <%= blog.agr1st %>
                </td>
                <td>
                  <%= blog.agr2nd %>
                </td>
                <td>
                  <%= blog.agrexam %>
                </td>
                <td>
                  <%= blog.agrscore %>
                </td>
                <td>
                  <%= blog.agrG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.geo %>
                </td>
                <td>
                  <%= blog.geo1st %>
                </td>
                <td>
                  <%= blog.geo2nd %>
                </td>
                <td>
                  <%= blog.geoexam %>
                </td>
                <td>
                  <%= blog.geoscore %>
                </td>
                <td>
                  <%= blog.geoG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.phy %>
                </td>
                <td>
                  <%= blog.phy1st %>
                </td>
                <td>
                  <%= blog.phy2nd %>
                </td>
                <td>
                  <%= blog.phyexam %>
                </td>
                <td>
                  <%= blog.physcore %>
                </td>
                <td>
                  <%= blog.phyG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.com %>
                </td>
                <td>
                  <%= blog.com1st %>
                </td>
                <td>
                  <%= blog.com2nd %>
                </td>
                <td>
                  <%= blog.comexam %>
                </td>
                <td>
                  <%= blog.comscore %>
                </td>
                <td>
                  <%= blog.comG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.crs %>
                </td>
                <td>
                  <%= blog.crs1st %>
                </td>
                <td>
                  <%= blog.crs2nd %>
                </td>
                <td>
                  <%= blog.crsexam %>
                </td>
                <td>
                  <%= blog.crsscore %>
                </td>
                <td>
                  <%= blog.crsG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.acc %>
                </td>
                <td>
                  <%= blog.acc1st %>
                </td>
                <td>
                  <%= blog.accex2nd %>
                </td>
                <td>
                  <%= blog.accexam %>
                </td>
                <td>
                  <%= blog.accscore %>
                </td>
                <td>
                  <%= blog.accG %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= blog.fmt %>
                </td>
                <td>
                  <%= blog.fmt1st %>
                </td>
                <td>
                  <%= blog.fmt2nd %>
                </td>
                <td>
                  <%= blog.fmtexam %>
                </td>
                <td>
                  <%= blog.fmtscore %>
                </td>
                <td>
                  <%= blog.fmtG %>
                </td>
              </tr>
          </table>
        </div>
        <div class="class_info">
          <div>
            <table style="font-size:12px; margin:0px;">
              <tr>
                <th>
                  <h3>Skill & Behavior</h3>
                </th>
                <th>5</th>
                <th>4</th>
                <th>3</th>
                <th>2</th>
                <th>1</th>
              </tr>
              <tr>
                <td>1. Attendance</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2. Attentiveness</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>3. Honesty</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4. Initiative</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>5. Neatness</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>6. Organization ability</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <tb></tb>
              </tr>
              <tr>
                <td>7. Perseverance</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>8. Punctuality </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>9. Spirit of Cooperation</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>10. Self control</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div>
            <h3>KEYS TO SKILL & BEHAVIOR </h3>
            <P> 5....Excellent degree of observation </P>
            <P> 4....High level fo observation </P>
            <P> 3....Acceptable level of observation </P>
            <P> 2....Minimal level Observed </P>
            <P> 1....No level observed </P>
          </div>
          <div class="grade">
            <h3>SCORE RANGE</h3>
            <P> 80 - 100--A+ Distinction </P>
            <P> 70 - 79---A Excellent </P>
            <P> 60 - 69---B  Credit </P>
            <P> 50 - 59---C Pass </P>
            <P> 0 -  39----F Fail</P>
          </div>
          <div>
            <h3 style="font-size:16px;">CLASS TEACHER'S NAME</h3>
            <p>......................................................</p>
          </div>
        </div>
      </div>
      <div class="Sfooter">
        <div>
          <h3>Subject Offer</h3>
          <h3>Subject Offer</h3>
          <h3>Subject Offer</h3>
        </div>

      </div>
      <div>
        <h3>Class Teacher’s Remark : <%= blog.Treport %>
        </h3>
        <h3>Class Head Teacher’s Remark :.................................... </h3>
      </div>
    </div>
  </div>

  <button class="download" onclick="downloadResult()">Download Result</button>
  <!-- JavaScript function to handle the download -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script>
    async function downloadResult() {
      // Get the HTML content of the result container
      var resultContainer = document.getElementById('resultContainer');
      var resultContent = resultContainer.outerHTML; // Include outer HTML to capture styles

      // Fetch and include external stylesheets
      var stylesheets = document.querySelectorAll('link[rel="stylesheet"]');
      var stylesPromises = Array.from(stylesheets).map(async stylesheet => {
        var response = await fetch(stylesheet.href);
        var cssText = await response.text();
        resultContent += '<style>' + cssText + '</style>';
      });

      // Wait for all stylesheet fetches to complete
      await Promise.all(stylesPromises);

      // Create a Blob from the HTML content
      var blob = new Blob([resultContent], { type: 'text/html' });

      // Create a download link
      var a = document.createElement('a');
      a.href = URL.createObjectURL(blob);
      a.download = 'result.html';

      // Append the link to the DOM and trigger a click event
      document.body.appendChild(a);
      a.click();

      // Remove the link from the DOM
      document.body.removeChild(a);
    }
  </script>
</body>

</html>